<% include header %>


<div class="page-header">
    <h1>Ajouter un film !</h1>
</div>

<% if(locals.regErr) { %>
    <div class="alert alert-danger"><%=regErr%></div>
<% } %>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Entrez les informations du film</div>

    <form class="form-signin" enctype="multipart/form-data" autocomplete="off" action="/insertmovie" method="post" role="form">
        <label>Titre</label>
        <input type="text" name="titre" value="<%=titre%>" class="form-control" placeholder="Entrez le titre..." required autofocus />

        <label>Genre</label>
        <input type="text" name="genre"  value="<%=genre%>" placeholder="Entrez le genre..." class="form-control" required />

        <label>Realisateur</label>
        <input type="text" name="realisateur" value="<%=realisateur%>" placeholder="Entrez le ou les réalisateurs..." class="form-control" required />

        <label>Acteurs (séparé par des virgules)</label>
        <input type="text" name="acteurs" value="<%=acteurs%>" placeholder="Entrez la liste des acteurs..." class="form-control" required />

        <label>Producteurs (séparé par des virgules)</label>
        <input type="text" name="producteurs" value="<%=producteurs%>" placeholder="Entrez la liste des producteurs..." class="form-control" required />

        <label>Scénaristes (séparé par des virgules)</label>
        <input type="text" name="scenaristes" value="<%=scenaristes%>" placeholder="Entrez la liste des scénaristes..." class="form-control" required />

        <label>Année de sortie</label>
        <input type="text" name="annee_sortie" value="<%=annee_sortie%>" placeholder="Entrez l'année de sortie..." class="form-control" required />

        <label>Langue</label>
        <input type="text" name="langue" value="<%=langue%>" placeholder="Entrez la langue..." class="form-control" required />

        <label>Pays de production</label>
        <input type="text" name="pays_production" value="<%=pays_production%>" placeholder="Entrez le pays de production..." class="form-control" required />

        <label>Synopsys</label>
        <textarea name="synopsys" value="<%=synopsys%>" placeholder="Entrez le synopsys..." class="form-control" cols="60" rows="10" required></textarea><br />
        
        <button class="btn btn-lg btn-primary btn-block" type="submit"> Ajouter </button>
    </form>


</div> <!-- /container -->


<% include footer %>