<!DOCTYPE html>
<html>
<head>
  <title>VOD42 - Videos On Demand 42</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-hd-video"></span>  VOD 42</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if(user.admin) {  %>
          <li><a href="/addmovie"><span class="glyphicon glyphicon-plus"></span> Ajouter un film</a></li>
          <li><a href="/listmovies"><span class="glyphicon glyphicon-film"></span>Liste des films</a></li>
          <li><a href="/users"><span class="glyphicon glyphicon-wrench"></span> Gestion des utilisateurs</a></li>
          <li><a href="/stats"><span class="glyphicon glyphicon-stats"></span> Statistiques</a></li>
          <% } else { %>
          <li><a href="/"><span class="glyphicon glyphicon-search"></span> Rechercher un film</a></li>
          <li><a href="/mymovies"><span class="glyphicon glyphicon-film"></span> Mes Films</a></li>
          <% } %>
        </ul>
        <p class="navbar-text navbar-right">
          <ul class="nav navbar-nav navbar-right">
          <% if(!user.username) {  %>
          <li><a href="/login" class="navbar-link">Se connecter <span class="glyphicon glyphicon-user"></span></a></li>
          <% } else {  %>
          <li><a href="/" class="navbar-link" style="color:<% if(user.admin) {  %>red<% } else { %>blue<% } %>;">Bienvenue <%= user.username %> !! </a></li>
          <li><a href="/logout" class="navbar-link">Se déconnecter <span class="glyphicon glyphicon-off"></span></a></li>
          <% }   %>
          </ul>
        </p>
      </div>
    </nav>

    <div class="container">