<% include header %>

<div class="page-header">
  <h1>Recherchez votre film !</h1>
</div>

<div class="panel panel-default">

  <div class="panel-heading">Zone de recherche</div>

  <div class="row" style="padding:10px;">


   <form role="form" enctype="multipart/form-data" action="/search" method="post">


     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <label class="control-label">Titre du film</label>
      <input type="text" name="title" value="" class="form-control" />
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
     <label class="control-label">Genre</label>
     <select name="genre" class="form-control">
      <option>--</option>
      <option>Action</option>
      <option>Comedie</option>
      <option>Drame</option>
      <option>Fiction</option>
      <option>Policier</option>
      <option>Politique</option>
      <option>Romantique</option>
      <option>Thriller</option>
    </select>
  </div>


  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   <label class="control-label">Intervalle d'années de production</label><br />
   <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Entre</div>
   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <select name="date_start" class="form-control">
      <option>--</option>
      <% for(i=1999;i<2014;i++){ %>
      <option><%=i%></option>
      <% } %>
    </select>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">et</div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <select name="date_end" class="form-control">
      <option>--</option>
      <% for(i=1999;i<=2014;i++){ %>
      <option><%=i%></option>
      <% } %>
    </select>
  </div>
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <label class="control-label">Personne(s) impliqués dans le film (séparé par une virgule)</label>
  <input type="text" class="form-control input-xsmall" name="persons" value="" />
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> </div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <br />
  <button type="submit" class="form-control" class="btn btn-default">Rerchercher</button>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> </div>

</form>
</div>

</div>
<% include footer %>