<% include header %>

<div class="page-header">
    <h1>Liste des films dans la base de données!</h1>
</div>

<% if (locals.success) { %>
<div class="alert alert-success">Votre film a été ajouté!</div>
<% } %>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Liste des films</div>
    <table class="table table-striped">
        <tr>
            <th width="100px">Titre</th>
            <th width="100px">Genres</th>
            <th width="100px">Réalisateur</th>
            <th width="200px">Acteurs</th>
            <th width="200px">Producteurs</th>
            <th width="200px">Scénaristes</th>
            <th width="100px">Année</th>
            <th width="100px">Pays</th>
            <th width="100px">Nombre d'achats</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
        <tr>
            <td><%= movies[i].titre %></td>
            <td><%= movies[i].genre %></td>
            <td><%= movies[i].realisateur %></td>
            <td><%= movies[i].acteurs %></td>
            <td><%= movies[i].producteurs %></td>
            <td><%= movies[i].scenaristes %></td>
            <td><%= movies[i].annee_sortie %></td>
            <td><%= movies[i].pays_production %></td>
            <td><%= movies[i].users.length %></td>
    </tr>
    <% } %>
    </table>
</div>


<% include footer %>