<% include header %>



<div class="page-header">
  <h1>Connectez vous !</h1>
</div>

<% if(loginErr) { %>
<div class="alert alert-danger">
    <%=loginErr%>
</div>
<% } %>
    
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Connexion</div>

    <form class="form-signin" enctype="multipart/form-data" action="/login" method="post" role="form">
        <label>Votre nom d'utilisateur</label>
        <input type="text" name="username" value="<%=username%>" class="form-control" placeholder="Nom d'utilisateur" required autofocus />

        <label>Mot de passe</label>
        <input type="password" name="pwd" value="" class="form-control" placeholder="Mot de passe" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        <a class="m-l-10" href="/register">S'inscrire</a>
    </form>


    <div class="alert alert-danger" style="text-align:center; width: 300px; margin-left: auto; margin-right:auto;">

   <h4>Pour tester ...</h4>

    admin => admin/admin <br />
    utilisateur => user/user
    </div>



</div> <!-- /container -->

<% include footer %>