<% include header %>


<div class="page-header">
  <h1><small>Détails du film</small> <%= movie.titre %>
      <% if(user.buy){ %>
        <a href="/buy/<%= movie._id %>"><button type="button" class="btn btn-success btn-sm">Acheter</button></a>
      <% } else { %>
        <a href="/mymovies"><button type="button" class="btn btn-warning btn-sm">Vous avez déjà acheter ce film. Visionner !</button></a>
      <% } %>
  </h1>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Informations</h3>
    </div>
    <div class="panel-body">
        Titre : <%= movie.titre %><br />
        Genres : <%= movie.genre %><br />
        Réalisateur : <%= movie.realisateur %><br />
        Acteurs : <%= movie.acteurs %><br />
        Producteurs : <%= movie.producteurs %><br />
        Scénaristes : <%= movie.scenaristes %><br />
        Année de sortie : <%= movie.annee_sortie %><br />
        Langue : <%= movie.langue %><br />
        Pays de production : <%= movie.pays_production %><br />
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Synopsys</h3>
    </div>
    <div class="panel-body">
      <%= movie.synopsys %>
    </div>
</div>


<% include footer %>