<% include header %>

<div class="page-header">
    <h1>Mes films achetés!</h1>
</div>

<% if (locals.success) { %>
<div class="alert alert-success">Votre achat a été enregistré!</div>
<% } %>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Liste des films</div>
    <table class="table table-striped">
        <tr>
            <th width="100px">Titre</th>
            <th width="100px">Genres</th>
            <th width="100px">Réalisateur</th>
            <th width="200px">Acteurs</th>
            <th width="200px">Producteurs</th>
            <th width="200px">Scénaristes</th>
            <th width="100px">Année</th>
            <th width="100px">Actions</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
        <tr>
            <td><%= movies[i].titre %></td>
            <td><%= movies[i].genre %></td>
            <td><%= movies[i].realisateur %></td>
            <td><%= movies[i].acteurs %></td>
            <td><%= movies[i].producteurs %></td>
            <td><%= movies[i].scenaristes %></td>
            <td><%= movies[i].annee_sortie %></td>
            <td>

            <!-- Button trigger modal -->
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
              Visionner
            </button>
        </td>
    </tr>
    <% } %>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Votre Film</h4>
      </div>
      <div class="modal-body">
        <img width="560px" src="/images/loading.gif" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% include footer %>