<% include header %>


<div class="page-header">
    <h1>Inscrivez vous !</h1>
</div>

<% if(locals.regErr) { %>
    <div class="alert alert-danger"><%=regErr%></div>
<% } %>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Connexion</div>

    <form class="form-signin" enctype="multipart/form-data" autocomplete="off" action="/register" method="post" role="form">
        <label>Votre adresse email</label>
        <input type="text" name="email" value="<%=email%>" class="form-control" placeholder="Nom d'utilisateur" required autofocus />

        <label>Votre nom d'utilisateur</label>
        <input type="text" name="username"  value="<%=username%>" placeholder="Votre nom d'utilisateur" class="form-control" required />

        <label>Votre mot de passe</label>
        <input type="password" name="pwd" value="" placeholder="Votre mot de passe" class="form-control" required />

        <label>Confirmer votre mot de passe</label>
        <input type="password" name="confirmpwd" value="" placeholder="Confirmer votre mot de passe" class="form-control" required />
        
        <button class="btn btn-lg btn-primary btn-block" type="submit"> S'inscrire</button>
    </form>


</div> <!-- /container -->


<% include footer %>