<% include header %>

<div class="page-header">
    <h1>Résultats de votre recherche !</h1>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Liste des films</div>
    <table class="table table-striped">
        <tr>
            <th width="100px">Titre</th>
            <th width="100px">Genres</th>
            <th width="100px">Réalisateur</th>
            <th width="200px">Acteurs</th>
            <th width="200px">Producteurs</th>
            <th width="200px">Scénaristes</th>
            <th width="100px">Année</th>
            <th width="100px">Actions</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
        <tr>
            <td><%= movies[i].titre %></td>
            <td><%= movies[i].genre %></td>
            <td><%= movies[i].realisateur %></td>
            <td><%= movies[i].acteurs %></td>
            <td><%= movies[i].producteurs %></td>
            <td><%= movies[i].scenaristes %></td>
            <td><%= movies[i].annee_sortie %></td>
            <td>

             <a href="/movie/<%= movies[i]._id %>"><button type="button" class="btn btn-default btn-sm">
                Détails
            </button></a>
           <!-- <a class="delete" href="/delete/<%= movies[i]._id %>" onclick="return confirm('Voulez vous vraiment effacer cet utilisateur?')"><button type="button" class="btn btn-default btn-sm">
                Effacer
            </button></a>-->
        </td>
    </tr>
    <% } %>
    </table>
</div>


<% include footer %>