<% include header %>



<div class="page-header">
  <h1>Les statistiques</h1>
</div>

<div class="row">

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-primary">
		    <div class="panel-heading">Top 5 des films les plus achetés dans le mois</div>

		    
		    <p>
		    <ol>
		    <% for(var i = 0; i < st1.length; i++ ){ %>
		    <li><%= st1[i]._id %> acheté <strong><%= st1[i].value %></strong> fois</li>
		    <% } %>
		    <% if( st1.length == 0) { %> Aucune données <% } %>
		    </ol>
		    </p>

		</div>

		<div class="panel panel-success">
		    <div class="panel-heading">Genre le plus populaire dans le mois</div>
		    <p style="padding:20px;">
		     <span class="glyphicon glyphicon-star"></span> <% if( st2.length > 0) { %> <%= st2[0]._id %><% } else { %> Aucune données <% } %><span class="glyphicon glyphicon-star"></span>
		    </p>
		</div>

	</div>


	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		
	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-info">
		    <div class="panel-heading">Liste des utilisateurs (avec leur genre de films préféré)</div>
		    <p style="padding:20px;">
		    STATS 3 .....
		    </p>
		</div>
		<div class="panel panel-danger">
		    <div class="panel-heading">Artiste le plus populaire</div>  
		    <p style="padding:20px;">
		     <span class="glyphicon glyphicon-star"></span> Jon Favreau <span class="glyphicon glyphicon-star"></span>
		    </p>
		</div>
	</div>

</div>

<% include footer %>