<% include header %>

<div class="page-header">
  <h1>Editer un utilisateur</h1>
</div>

<% if (locals.success) { %>
<div class="alert alert-success">Mise à jour affectué avec succès...</div>
<% }
var disableAttr = (locals.disable) ? 'disabled':''; %>


<% if(locals.err) { %>
<div class="alert alert-danger"><%=err%></div>
<% } %>


<div class="panel panel-default">

    <ol class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><a href="/users">Utilisateurs</a></li>
        <li class="active">Edition</li>
    </ol>

  <form class="form-signin" enctype="multipart/form-data" autocomplete="off" action="/users/<%=id%>" method="post" role="form">
    <label>Votre adresse email</label>
    <input type="text" name="email" value="<%=email%>" class="form-control" placeholder="Nom d'utilisateur" required autofocus <%= disableAttr %> />

    <label>Nom d'utilisateur</label>
    <input type="text" name="username"  value="<%=username%>" placeholder="Votre nom d'utilisateur" class="form-control" required <%= disableAttr %> />

    <label>Mot de passe</label>
    <input type="password" name="pwd" value="" placeholder="Votre mot de passe" class="form-control" required <%= disableAttr %> />

    <label>Confirmer le mot de passe</label>
    <input type="password" name="confirmpwd" value="" placeholder="Confirmer votre mot de passe" class="form-control" required <%= disableAttr %> />

    <button class="btn btn-lg btn-primary btn-block" type="submit" <%= disableAttr %>> Mettre à jour </button>
</form>

</div>

<% include footer %>