<% include header %>

<div class="page-header">
  <h1>Gestion des utilisateurs</h1>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Liste des utilisateurs</div>

<table class="table table-hover">
    <tr>
        <th>Email</th>
        <th>nom d'utilisateurs</th>
        <th>Actions</th>
    </tr>
    <% for(var i=0; i < items.length; i++) { %>
    <tr>
        <td><%= items[i].email %></td>
        <td><%= items[i].username %></td>
        <td>

       <a href="/users/<%= items[i]._id %>"><button type="button" class="btn btn-default btn-sm">
            Editer
        </button></a>
        <a class="delete" href="/delete/<%= items[i]._id %>" onclick="return confirm('Voulez vous vraiment effacer cet utilisateur?')"><button type="button" class="btn btn-default btn-sm">
            Effacer
        </button></a>
        </td>
    </tr>
    <% } %>
</table>

</div>

<% include footer %>